<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Angular With Yeoman</title>

		<meta name="description" content="A framework for easily creating beautiful presentations using HTML">
		<meta name="author" content="Hakim El Hattab">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>Angular.js Development</h1>
					<h2>with Yeoman</h2>
				</section>

                <section>
                    <h2>What is Angular.js?</h2>
                    <p>
                    Structural framework for dynamic applications
                    </p>
                    <img src="images/AngularJS-large.png"></img>
                </section>

                <section>
                    <h2>What is Yeoman?</h2>
                    <p>
Yeoman is a robust and opinionated client-side stack, comprising tools and frameworks that can help developers quickly build beautiful web applications.
                    </p>
                    <img src="images/yeoman-003.png"></img>
                </section>

                <section>
                    <h2>Key pieces of Angular</h2>
                    <ul>
                        <li>Modules</li>
                        <li>URL based routes</li>
                        <li>Decoupled View's and Controllers</li>
                        <li>Two way data binding</li>
                        <li>Dependency Injection</li>
                        <li>Directives</li>
                    </ul>
                </section>

                <section>
                    <h2>Modules</h2>
                    <pre>
                    <code>
  var angularLocalStorage = angular.module('LocalStorageModule', []);
  angularLocalStorage.service('localStorageService', [
    '$rootScope', 
    'prefix', 
    'cookie',
    function($rootScope, prefix, cookie) {
      return ...
    }]);
                    </code>
                    </pre>
                    <p>
                    https://github.com/grevory/angular-local-storage
                    </p>

                </section>

                <section>
                    <h2>Routes</h2>
					<pre>
                    <code>
              $routeProvider.when('/books', {
                  templateUrl: 'books.html',
                  controller: 'BooksCtrl'
              });
					</code>
                    </pre>
				</section>

                <section>
                    <h2>Controller</h2>
                    <pre>
                    <code>
             function BooksCtrl($scope) {
               $scope.books = [
                 { title: 'The Law',
                   author:'Frederik Bastiat'},
                 { title: 'Two Treatises of Government',
                   author:'John Locke'},
                 { title: 'The Communist Manifesto',
                   author:'Karl Marx and Friedrich Engels'}
               ]
             }
                    </code>
                    </pre>
                </section>

                <section>
                    <h2>Views</h2>
                    <pre>
                    <code>
            &lt;ul&gt;
              &lt;li ng-repeat="book in books"&gt;
                  {{book.title}} written by {{book.author}}.
              &lt;/li&gt;
            &lt;/ul&gt;
                    </code>
                    </pre>
                </section>

                <section>
                    <h2>Data Binding</h2>
                    <pre>
                    <code>
            function BooksCtrl($scope) {
              $scope.books = [
                { title: 'The Law',
                  author:'Frederik Bastiat'},
                { title: 'Two Treatises of Government',
                  author:'John Locke'},
                { title: 'The Communist Manifesto',
                  author:'Karl Marx and Friedrich Engels'}
              ]
            }

            &lt;ul&gt;
              &lt;li ng-repeat="book in books"&gt;
                  {{book.title}} written by {{book.author}}.
              &lt;/li&gt;
            &lt;/ul&gt;
                    </code>
                    </pre>
                </section>

                <section>
                    <h2>Dependency Injection</h2>
                    <pre>
                    <code>
            function BooksCtrl($scope) {
              $scope.books = [
                { title: 'The Law',
                  author:'Frederik Bastiat'},
                { title: 'Two Treatises of Government',
                  author:'John Locke'},
                { title: 'The Communist Manifesto',
                  author:'Karl Marx and Friedrich Engels'}
              ]
            }
                    </code>
                    </pre>
                </section>

                <section>
                    <h2>Directives</h2>
                    <pre>
                    <code>
            &lt;li ng-repeat="book in books"&gt;
                {{book.title}} written by {{book.author}}.
            &lt;/li&gt;
                    </code>
                    </pre>
                </section>

                <section>
                    <pre>
                    <code>
            var app = angular.module("something", []);
            app.directive("other", function() {
              return {
                restrict: "E",
                template: "&lt;div&gt;Hello World!!!&lt;/div&gt;"
              }
            });

            &lt;div ng-app="something"&gt;
              &lt;other&gt;&lt;/other&gt;
            &lt;div&gt;
                    </code>
                    </pre>
                </section>

                <section>
                    <pre>
                    <code>
            var app = angular.module("something", []);
            app.directive("other", function() {
              return {
                restrict: "A",
                link: function() {
                  alert("Hello World")
                }
              }
            });

            &lt;div ng-app="something"&gt;
              &lt;div other&gt;&lt;/div&gt;
            &lt;div&gt;
                    </code>
                    </pre>
                </section>


                <section>
                    <h1>Yeoman</h1>
                </section>

                <section>
                    <p>
                    Yeoman is more than just a tool. It's a workflow; a collection of tools and best practices working in harmony to make developing for the web even better.
                    </p>
                </section>

                <section>
                    <pre>
                    <code>
                        $ mkdir myApp
                        $ cd MyApp
                        $ yeoman init
                        $ yeoman server
                          -- hack, hack, hack --
                        $ yeoman test
                        $ yeoman build
                    </code>
                    </pre>
                </section>

                <section>
                    <h2>And with Angular...</h2> 
                    <pre>
                    <code>
                  $ yeoman init angular
                  $ yeoman init angular:controller MyCtrl
                    </code>
                    </pre>
                </section>

                <section>
                    Code...
                </section>

                <section>
                    <h2>
                    Making Big Applications...
                    </h2>
                    <p>
                    What follows is taken from:<br/>
                    <a href="http://briantford.com/blog/huuuuuge-angular-apps.html">briantford.com/blog/huuuuuge-angular-apps.html</a><br/>
                    By Brian Ford:<br/>
                    AngularJS Team Developer<br/>
                    <p>
                </section>

                <section>
                    <h2>Folder Structure</h2>
                    <pre>
                    <code style="max-height:625px;">
                   root-app-folder
                   ├── index.html
                   ├── scripts
                   │&nbsp;&nbsp; ├── controllers
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── main.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── ...
                   │&nbsp;&nbsp; ├── directives
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── myDirective.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── ...
                   │&nbsp;&nbsp; ├── filters
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── myFilter.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── ...
                   │&nbsp;&nbsp; ├── services
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── myService.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── ...
                   │&nbsp;&nbsp; ├── vendor
                   │&nbsp;&nbsp; │&nbsp;&nbsp; ├── angular.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; ├── angular.min.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; ├── es5-shim.min.js
                   │&nbsp;&nbsp; │&nbsp;&nbsp; └── json3.min.js
                   │&nbsp;&nbsp; └── app.js
                   ├── styles
                   │&nbsp;&nbsp; └── ...
                   └── views
                       ├── main.html
                           └── ...
                    </code>
                    </pre>
                </section>

                <section>
                    <h2>Modules</h2>
                    <p>
                    Should all be configured in app.js
                    <pre>
                    <code>
            var app = angular.module('yourAppName', ['yourAppDep']);
            angular.module('yourAppDep');
                    </code>
                    </pre>
                    </p>
                    <p>
                    Define Controllers on modules
                    <pre>
                    <code>
            app.controller("MyCtrl", function() {});
                    </code>
                    </pre>
                    </p>
                </section>

                <section>
                    <h2>Directives</h2>
                    <p>
                      Use an app specific prefix
                      <pre>
                      <code>
            angular.module('yourAppDep')
                .directive('yourAppControlPanel', function () {
                  // ...
                });
                      </code>
                      </pre>
                    </p>
                </section>

                <section>
                    <h2>Side note on $digest</h2>
                    <img src="images/angular-runtime.png"></img>
                </section>

                <section>
                    <h2>Filters</h2>
                    <ul>
                        <li>Called twice for each digest cycle</li>
                        <li>
                          If data will not be modified by the filter, call the filter in the controller<br/>
                          <pre>
                          <code>
            {{myData.author | myFilter}}
                          </code>
                          </pre>
                          <pre>
                          <code>
            myApp.controller('MyCtrl', function($scop, $filter){
              $scope.myData = { title: "ABC", author: "xyz" }
              $scope.myData.author = $filter('myFilter')($scope.myData.author)
            });
                          </code>
                          </pre>
                        </li>
                    </ul>
                </section>

                <section>
                    <h2>Use Yeoman...</h2>
                </section>

                <section>
                    <h2>Additional Info</h2>
                    <ul>
                        <li><a href="http://yeoman.io">yeoman.io</a></li>
                        <li><a href="https://github.com/angular/angularjs-batarang">AngularJS Batarang</a></li>
                        <li><a href="http://egghead.io">egghead.io</a></li>
                        <li><a href="http://ngmodules.org">ngmodules.org</a></li>
                    </ul>
                </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'none', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
